:root   {
    --lightgrey: rgb(227, 227, 227);
    --black: rgb(40, 40, 40);
    --darkgrey: #8c8c8c;
}


*   {
    margin: 0;
    padding: 0;
}

body    {
    width: 100%;
    height: 100%;
    font-family: 'google', sans-serif;
    background-color: #1d1d1d;
}

#particles-js   {
    height: 100%;
    position: absolute;
    top: 0;
}

.particles-js-canvas-el {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
}

@font-face{ 
	font-family: 'SF-Pro-Display';
	src: url('SFPRODISPLAYREGULAR.OTF');
}

@font-face{ 
	font-family: 'google';
	src: url('GoogleSans-Regular.ttf');
}

@font-face{ 
	font-family: 'Archivo Black';
	src: url('ArchivoBlack.otf');
}

@font-face{ 
	font-family: 'Quincy';
	src: url('Quincy-CF-Regular.ttf');
}

@font-face{ 
	font-family: 'Kaleko';
	src: url('Kaleko-105-W00-Bold.ttf');
}


h3, h2{
 font-family: 'Kaleko';
}

ul  {
    list-style-type: none;
}



@media only screen and (min-width: 993px) {
    
    #github {
        display: none;
    }

    .nav-item a {
        text-align: center;
    }

    .showcase-sidebar li a  {
        color: var(--darkgrey);
    }

    .showcase-sidebar input[name="search"]{
        text-align: center;
    }

.navbar, .collapse, .collapse .navbar-nav     {
    flex-direction: column;
}

.navbar {
    width: 10%;
    height: 100vh;
    position: fixed;
    background-color: #181818;
    padding: 0 0;
    z-index: 1;

}




.search-bar i {display: none;}

.showcase-content   {
    height: 100%;
    width: 90%;
    margin: 0 0 0 auto;
}



.content-bottom p{
    padding-left: 8px;
    width: 65%;
}

#seemore     {

}


.collapse li a{
    text-align: center;
}

.group-map img {
    width: 620px;
}

.group-contact  {
    padding: 40px;
    margin-left: 15px;
}

.content-bottom h2{
    font-size: 4rem;
    font-weight: 600;
    color: #08FDD8;
}


.group-contact h2 , .text h2  {
    font-size: 4rem;
    font-weight: 600;
    color: #08FDD8;
}

.content-front h3   {
    font-size: 600%;
    font-weight: 700;

}

.showcase i {
    display: none;
}

.social i   {
    display: block;
    position: absolute;
    bottom: 0;
    padding-bottom: 2rem;
}

}

.showcase-sidebar ul li a:hover{
    transition: .1.9s;
}

.showcase-sidebar ul li a:hover{
    background-color: #373737;
}

@media only screen and (max-width: 991px) {

    #github {
        width: 3rem;
        position: absolute;
        right: 0;
        padding: .5rem .5rem;
        z-index: 1;
        filter: invert(100%);
    }
    .showcase .fa-bars  {
        position: absolute;
        z-index: 1;
        padding: 1rem;
    }

    .showcase-sidebar   {
        width: 100%;
        height: 100%;
        background-color: #3d3d3d;
        z-index: 1;
        position: absolute;
        left: -1100px;
        transition-duration: .2s;
    }

    .showcase-sidebar .fa-search {
        padding: 0;
    }

    .showcase-sidebar  i    {
        margin: 0;
        position: absolute;
        top: 0;
        padding: 1rem 1rem 0 0;
        right: 0;
        font-size: 1.3rem;
    }

    .showcase-sidebar  a {
        color: rgb(224, 220, 220);
    }

    .form-contact   iframe  {
        height: 520px;
        width: 100%;
    }

    .showcase-sidebar img {
        display: none;
}


    .showcase-content   {
        padding-top: 75px;
    }


    .social a{
        display: none;
    }
    .content-bottom h2, .group-contact h2{
        font-size: 3rem;
        font-weight: 600;
        color: #08FDD8;
    }
    

    .form-contact   {
        display: flex;
        flex-direction: column;
    }

    .group-contact  {
        padding: 0;
        margin: 0;
    }

    .group-contact  {
        padding: 10px;
        margin-bottom: 25px;
    }

    .content-bottom h2{
        font-size: 4rem;
        font-weight: 600;
        color: #08FDD8;
    }

    .showcase-sidebar label{
        display: none;
    }

    .content-bottom h2, .group-contact h2, .text h2 {
        font-size: 3rem;
    }


    .content-front h3   {
        font-size: 300%;
        font-weight: 700;
    }

}


img {
    width: 100%;
}

h2  {
    color: #08FDD8;
}

.showcase-sidebar img {
    width: 60px;
}
/* MEDIA QUERIES ENDS HERE */
.showcase   {
    width: 100%;


}

.container-wrapper  {

    margin: 0 auto;
}

.content-front h3   {
    color: white;
}

.showcase-sidebar input[name="search"]{
    border: none;
    border-radius: 0;
    height: 55px;
    background: #2b2b2b;
    color: wheat;
}

.collapse, ul, li {
    width: 100%;
}

.content-front  {
    padding: 155px 5%
}



.content-front    {
    width: 100%;
}

label   {
    color: white;
    font-size: 2rem;
}

.showcase-sidebar a   {
    border-bottom: 1px solid rgb(46, 46, 46);
}

.social a   {
    color: #909096;
    text-decoration: none;
}

.social a:hover     {
    color: #08FDD8;
}

button  {
    font-size: .9rem;
}

.showcase-content button  {
    color: #08FDD8;
    padding: 12px 35px;
    border: 1px solid #08FDD8;
    background: none;
    letter-spacing: 4px;
    margin-top: 25px;
    background-image: linear-gradient(#08FDD8,#08FDD8);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: .4s;
}
.showcase-content button:hover {
    background-size: 100% 100%;
    color: black;
  }

.content-front p   {
    letter-spacing: .5vw;
    opacity: .5;
    margin-top: 22px;
}




.content-bottom {
    position: relative;
    font-size: 1rem;
    padding: 5%;
    margin: 350px 0;
}




.preloader  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #d2dae2;
    display: flex;
    z-index: 1;
    transition-duration: .2s;
}


.preloader i   {
    color: rgb(50, 50, 50);
    margin: auto;
    font-size: 2rem;
}

.showcase   .fa-bars, .fa-times   {
    color: white;
    font-size: 2rem;
}

.showcase  .fa-bars{
    color: white;
    font-size: 2rem;
    box-shadow: 0px 5px 15px 1px #000;
}

/* Navigation navbar */
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28333, 355, 355, .4%29' stroke-linecap='15' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#navigation {
    width: 100%;
}

.form-contact    {
    display: flex;
    color: white;
    width: 100%;
    position: relative;
}

.form-group {
    margin-bottom: .6rem;
}

.group-contact input[type="text"], textarea[class="form-control"]   {
    color: wheat;
    font-weight: lighter;

}


.group-contact input[type="text"]::placeholder , textarea[class="form-control"]::placeholder   {
    color: rgb(92, 92, 92);
}

.group-contact input[type="text"]{
    border-radius: 0;
    background-color: #2b2b2b;
    border: none;
    height: 50px;
    padding: 0 20px;

}



.group-contact textarea[class="form-control"]     {
    height: 90px;
    width: 100%;
    border-radius: 0;
    padding: 10px 20px;
    background-color: #2b2b2b;
    border: none;
    margin-bottom: .8rem;
    color: wheat;
}
 

img{
    width: 100%;
}

/* navbar searchbar */


.showcase-sidebar img   {
    width: 100%;
}

.search-bar {
    position: relative;
}

.search-bar   .fa-search    {
    position: absolute;
    top: 0;
    padding-top: 1.2rem;
}

.search-bar input{

}

.search-bar i   {
    position: absolute;
    top: 25px;
    right: 20px;
    color: #737373;
    cursor: pointer;
    -webkit-transition: color .5s ease-out;
    -moz-transition: color .5s ease-out;
    -o-transition: color .5s ease-out;
    transition: color .5s ease-out;
}

.search-bar input:focus ~  i{
    color: #08FDD8;
}
